{% extends "layout.html" %}
<head>
  <style>
    .container {
    max-width: 960px;
    padding-left: 200px;
    padding-top: 110px;
    }
  
    .lh-condensed { line-height: 1.25; }
    </style>
</head>
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 order-md-1 ">
        <h4 class="mb-3">Event Details</h4>
        <form class="needs-validation" novalidate>
          
          <div class="mb-4">
            <label for="username">Name</label>
            <div class="input-group">
              <input type="text" class="form-control" id="username" placeholder="Name" required>
              <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
            <div class="invalid-feedback">
              Please enter a valid email for updates.
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Event Name</label>
            <input type="text" class="form-control" id="eventname" placeholder="Event Name">
            <div class="invalid-feedback">
              Please enter Event Name.
            </div>
          </div>

          <div class="mb-3">
            <label for="venues">Event Venues</label>
            <select class="custom-select d-block w-100" id="venues" required>
              <option value="">Choose...</option>
              <option>venu1</option>
              <option>venu2</option>
              <option>venu3</option>
              <option>venu4</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid venue.
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="contact">Contact Number</label>
              <input type="tel" class="form-control" id="contact" placeholder="Contact Number">
              <div class="invalid-feedback">
                Please enter a valid Contact Number updates.
              </div>
          
          </div>
            <div class="col-md-5 mb-3">
              <label for="date">Date</label>
              <input type="date" class="form-control" id="date" placeholder="Date">
              <div class="invalid-feedback">
                date is required.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="attendees">Number of attendees</label>
              <input type="number" class="form-control" id="attendees" placeholder="attendees">
              <div class="invalid-feedback">
                Please select a valid Number.
            </div>
          </div>
           
          <div class="col-md-5 mb-3">
              <label for="timing">Timing<span class="text-muted">(onwords)</span></label>
              <input type="time" class="form-control" id="timing" placeholder="Timing">
              <div class="invalid-feedback">
                Please provide a valid Timings.
              </div>
            </div>
          </div>
          <hr class="mb-4">

          <h4 class="mb-3">Catering</h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="North Indian" name="North Indian" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="North Indian">North Indian</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="South Indian" name="South Indian" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="South Indian"> South Indian</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="Not Required" name="Not Required" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="Not Required">Not Required</label>
            </div>
          </div>
          <hr class="mb-4">
          <div class="form-group">
            <label for="comment">Additional requirements:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>





          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}